attr==0.3.2
ConfigParser==7.0.0
contextlib2==21.6.0
cryptography==41.0.3
docutils==0.18.1
docutils==0.18.1
filelock==3.15.1
HTMLParser==0.0.2
importlib_metadata==7.0.1
ipython==8.12.3
ipywidgets==7.6.5
Jinja2==3.1.2
jnius==1.1.0
keyring==23.13.1
matplotlib==3.7.1
mock==5.1.0
numpy==1.25.0
pandas==2.0.2
Pillow==9.5.0
Pillow==10.3.0
protobuf==3.20.3
pydicom==2.4.4
pyOpenSSL==23.2.0
pyOpenSSL==24.1.0
railroad==0.5.0
redis==5.0.6
skimage==0.0
Sphinx==5.0.2
thread==2.0.3
tornado==6.3.3
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
pylibjpeg==2.0.0
pylibjpeg-openjpeg==2.2.1